* {
   padding: 0px;
   margin: 0px;
   border-width: 0px;
}
body {
   font-family: 'Courier New', Courier, monospace;
}

.logo {
   width: 100%;
   height: 100vh;
   margin: 0;
}

h1 {
   font-size: 36px;
   word-spacing: -10px;
   padding-top: 140px;
   font-weight: bolder;
}
h2 {
   padding-bottom: 20px;
   font-weight: bold;
}
.header {
   color: rgb(0, 0, 0);
   background-color: rgb(67, 137, 228);
   align-items: center;
   margin-bottom: -10px;
   padding: 20px;
   margin-top: -770px; 
}

.header > p {
   padding-top: 20px;
   font-weight: 700;
}

.header-word {
   text-align: left;
   align-items: center;
}

.pic {
   width: 30%;
   margin-left: 750px;
   margin-top: -265px;
   margin-bottom: 15px;
   padding-top: 20px;
}

.about {
   background-color: rgb(155, 197, 252);
   margin-bottom: -20px;
   padding: 20px;
   padding-bottom: 45px;
}

.head {
   background-color: rgb(200, 221, 248);
   padding-top: 20px;
   padding-left: 20px;
   /*padding: 20px, 20px, 45px, 20px;*/
}

.portfolio {
   width: 100%;
   background-color: rgb(200, 221, 248);
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction:row;
   padding: 30px;
   text-align: center;
}

a {
   color:rgb(10, 116, 134);
}

nav {
   width: 100%;
   height: 20px;
   display: flex;
   align-items: center;
   justify-content: space-around;
   padding: 0px;
   background-color: rgb(200, 221, 248);
   font-size: 25px;
}

nav ul li {
   display: inline-block;
   list-style: none;
   margin: 10px 30px;
}

nav ul li a{
   text-decoration: none;
   color: black;
}


 
 